.scale{
    &:hover{
        transform: scale(0.8);
        cursor: pointer;
        transition: 3s;
    }
}

.border{
    border-radius: 2rem;
}

.btn-propio{
    background: #7b9cd1;
    color: black;
    &:hover{
        transform: scale(1.08);
        transition: 3s;
    }
}

.slider{
    animation-name: cambio; 
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-delay: 0s;
}

@keyframes cambio {
    0% {margin-left:0;}
    20%{margin-left:0;}
    25%{margin-left:-100%;}
    45%{margin-left:-100%;}
    50%{margin-left:-200%;}
    70%{margin-left:-200%;}
    75%{margin-left:-300%;}
    100%{margin-left:-300%;}

}