.scale{
    &:hover{
        transform: scale(0.8);
        cursor: pointer;
        transition: 3s;
    }
}

.border{
    border-radius: 2rem;
}

.btn-propio{
    background: #7b9cd1;
    color: black;
    &:hover{
        transform: scale(1.08);
        transition: 3s;
    }
}