.fSize{
    font-size: 4rem;
}

.iconSize{
	width:4rem;
	height: 2.5rem;
}
.pie{
    @extend .bg-nav;
    section{
        display: block;
        padding: 1rem;
        ul{
            list-style: none;
            li a{
                &:hover{
                    color: $textColor;
	                font-weight: 700;
                }
            }
        }
        @include breakpoint(sm){
        display: flex;
        justify-content: space-between;
        align-items: top;
    }
    }
    
}






